#contact {
  position: relative;
  overflow: hidden;
  width: 100vw;   
  height: 100vh;
  display: flex; 
  align-items: center; 
  background: linear-gradient(to right, #FAF9F8, #E8E3DF);
}

.contact-form {
  flex: 1; 
  height: 100%; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.contact-form {
  padding: 20px; 
  display: flex;
  flex-direction: column; 
}

.contact-form-tittle h2 {
  margin-top: 0;
  margin-bottom: 20px; 
}

.form label {
  display: block; 
  margin-bottom: 10px; 
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-row label {
  flex: 1;
  margin-right: 10px;
}

.form-row label:last-child {
  margin-right: 0;
}

input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 8px;
  margin-top: 6px;
  background: white;
  border: 2px solid black;
  border-radius: 8px;
  box-sizing: border-box;
}

input[type="submit"] {
  display: block;
  width: auto;
  padding: 10px 20px;
  margin: 10px auto;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'CormorantUpright';
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

input[type="submit"]:hover {
    background: white;
    color: black;
}  

::placeholder { 
  color: black;
  opacity: 1;
}