.site-footer {
    width: 100%;
    height: 80px; 
    background-color: white;
    color: black;
    display: flex;
    align-items: center; 
    justify-content: center; 
    z-index: 1000;
}

.site-footer p {
    margin: 0;
    text-align: center;
}