// Couleurs
$primary-color: #011832;
$secondary-color: #FAF9F8;
$text-color: #000;
$bg-white: #fff;
$box-shadow-color: rgba(0, 0, 0, 0.1);
$hover-box-shadow-color: rgba(0, 0, 0, 0.2);

// Fonts
$font-size-title: 2.5em;
$font-size-description: 1em;
$line-height-description: 1.5;
$border-radius: 8px;